:root {
    --gray: #595959;
    --bold: #000000;
    --accentcolor: #6f4ebc; #d22685;
    --bg: white;
    --width: 3px;
    --h2size: 15pt
}

@font-face {
    font-family: GothamBlack;
    src: url(Gotham-Black.woff) format("woff");
}

@font-face {
    font-family: GothamBook;
    src: url(Gotham-Book.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    color: var(--gray);
    max-width: 8in;
    max-height: 10.5in;
    margin: 0 auto;
    /* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
    /* filter: grayscale(100%); */
}
body a:link{
    color: var(--gray);
}
body a:visited{
    color: var(--gray);
}

h1 {
    font-weight: 1000;
    text-transform: uppercase;
    line-height:5.5rem;
    font-size: 4.5rem;
    color: black;
    letter-spacing: -1px;
    margin-bottom: -5%;
    margin-top: -8%;
    white-space: nowrap;
}

.title {
    font-size: 1.5rem;
    color: var(--accentcolor);
    font-weight: 500;
    margin-bottom: 1.5rem;
    white-space: nowrap;
}

h2 {
    color: var(--accentcolor);
    font-size: var(--h2size);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas:
        "left right-top"
        "left right-middle"
        "left right-bottom";
}

.left {
    grid-area: left;
    padding-right: .5rem;
    position: relative;
}
.left::after {                       /*vertical streak*/
    content: '';
    position: absolute;
    top: 16%;
    right: 0;
    width: 3px;
    height: 60%;
    background-image: linear-gradient(var(--accentcolor),var(--bg));
}
.left::before {                       /*vertical streak*/
    content: '❖';
    position: absolute;
    top: 10%;
    right: -16px;
    font-size: 30pt;
    color: var(--accentcolor)
}

.right {
    grid-area: right-top / right-bottom;
    padding-left: 1.5rem;
    margin-top: 5.5rem;
}
                            /* Contact Info Borders*/
                            .contact-container {
                                background-color: var(--gray);
                                padding: var(--width);
                                clip-path: polygon(0 0, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 0 100%);
                                width: 92%;
                            }
                            .contact-info {
                                background-color: var(--bg);
                                padding-left: .25rem;
                                clip-path: polygon(0 0, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 0 100%);
                                font-size: 9pt;
                                color: var(--gray);
                                line-height: 1.5;
                            }
.content-section {
    margin-bottom: 1.5rem;
}

h3 {
    color: var(--bold);
    font-size: 8pt;
    font-weight: 500;
    letter-spacing: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}
ul {
    font-size: 8pt;
}
li {
    list-style: none;
    margin-bottom: 0.2rem;
    position: relative;
    padding-left: 1rem;
    line-height: 1.3;
}
li::before {
    content: " ";
    position: absolute;
    left: 0;
    color: var(--gray);
}

.content-text {
    font-size: 0.8rem;
    line-height: 1.4;
}
.content-item {
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}
.content-item.main {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
                                .job-container {
                                    background-color: var(--gray);
                                    padding: var(--width);
                                    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 10% 100%, 0 90%);
                                    margin-bottom: 12px;
                                }
                                .job {
                                    position: relative;
                                    background-color: var(--bg);
                                    color: var(--gray);
                                    padding: .5rem;
                                    font-size: 8pt;
                                    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 10% 100%, 0 90%);
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                                .job-title {
                                    font-weight: 600;
                                    color: var(--accentcolor);
                                    text-transform: uppercase;
                                    flex-grow: 1;
                                    width: 75%;
                                }
                                .company-logo{
                                    align-content: right;
                                    flex-grow: 1;
                                    max-width: 25%;
                                    max-height: 20px;
                                    object-fit: scale-down;
                                }
                                .company {
                                    color: var(--accentcolor);
                                    margin-bottom: 0.5rem;
                                    flex-grow: 1;
                                    width: 50%;
                                }
                                .dates {
                                    color: var(--accentcolor);
                                    margin-bottom: 0.5rem;
                                    flex-grow: 1;
                                    width: 50%;
                                    text-align: right;
                                }
                                .job-description li {
                                    list-style: none;
                                    margin-bottom: 0.5rem;
                                    position: relative;
                                    padding-left: 1rem;
                                    line-height: 1;
                                }
                                .job-description li::before {
                                    content: "❖";
                                    position: absolute;
                                    left: 0;
                                    color: var(--gray);
                                    font-weight: bold;
                                }
                                .projects-section {
                                    display: grid;
                                    grid-template-columns: 1fr .75fr 1fr;
                                    grid-template-rows: auto auto auto;
                                    gap: 15px;
                                    margin-top: 1rem;
                                    align-items: stretch;
                                }
                                .project-logo {
                                    width:auto;
                                    height:15px;
                                }
.bottom-grid {
    display: grid;
    grid-template-columns: 5fr .2fr .1fr;
    align-items: stretch;

}

.bottom-grid li {
    margin-bottom: .75rem;
}

.middleline{
    padding-right: 3.5rem;
    margin-right: 1.5rem;
    position: relative;
}
.middleline::after {                       /*vertical streak*/
    content: '';
    position: absolute;
    top: 45px;
    right: 16px;
    width: 3px;
    height: 60%;
    background-image: linear-gradient(var(--accentcolor),var(--bg));
}
.middleline::before {                       /*vertical streak*/
    content: '❖';
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 30pt;
    color: var(--accentcolor)
}