<html>
	<head>
        <title>Add Customer Pages</title>
        <link rel="stylesheet" type="text/css" href="https://tedyee114.github.io/websites/research_assignment/research_assignment.css">
        <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/tedyee114/websites/main/tyicon-transparent.png">
    </head>

     <!--This imports another HTML file that controls the header-->
     <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /* Loop through a collection of all HTML elements: */
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
                /* Make an HTTP request using the attribute value as the file name: */
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                    if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                    /* Remove the attribute, and call this function once more: */
                    elmnt.removeAttribute("w3-include-html");
                    includeHTML();
                }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /* Exit the function: */
                return;
            }
            }
          }
    </script>
    <div w3-include-html="research_header.html"></div><script> includeHTML();</script>

    <br><br><br>

	<body style=font-family:arial>
		<h1>Add Customer</h1>
		<form method="POST">
			<label>First Name:</label>
			<input type="text" name="customer_first_name"><br><br>
			<label>Last Name:</label>
			<input type="text" name="customer_last_name"><br><br>
			<label>Gender:</label>
			<input type="radio" name="customer_gender" value="male">Male
			<input type="radio" id="customer_gender" name="customer_gender" value="female">Female<br><br>
			<label for="customer_dob">Date of Birth:</label>
			<input type="text" name="customer_dob"><br><br>
			<input type="submit" value="Add customer">
		</form>
	</body>
    <br><br><br>

<!--Lil box in the corner-->
<!--Card Content, <pre> tag follows typed formatting, i.e., indents and new lines in html printout the same-->
    <div style=width:fit-content>
        <pre><a href="https://tedyee114.github.io/websites/">Back to Homepage</a>
        <img src="https://github.com/tedyee114/static/blob/main/portfolio/tyicon-transparent.png?raw=true" style="width:2rem"></pre>
    </div><script src="https://tedyee114.github.io/websites/till.js"></script>

    <div w3-include-html="research_footer.html"></div><script> includeHTML();</script>
</html>
