<!DOCTYPE html>
<html>
    <head>
        <title>Product Query Page</title>
        <link rel="stylesheet" type="text/css" href="https://tedyee114.github.io/websites/research_assignment/research_assignment.css">
        <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/tedyee114/websites/main/tyicon-transparent.png">
    </head>

     <!--This imports another HTML file that controls the header-->
     <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /* Loop through a collection of all HTML elements: */
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
                /* Make an HTTP request using the attribute value as the file name: */
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                    if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                    /* Remove the attribute, and call this function once more: */
                    elmnt.removeAttribute("w3-include-html");
                    includeHTML();
                }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /* Exit the function: */
                return;
            }
            }
          }
    </script>
    <div w3-include-html="research_header.html"></div><script> includeHTML();</script>


  <body style=font-family:arial>
    <br><br><br>
    <h1>Product Information</h1>
    <img  src="https://raw.githubusercontent.com/tedyee114/websites/main/research_assignment/static/storefront.jpg" title="a real photo" align="left" width="25%"/>
    <img  src="https://raw.githubusercontent.com/tedyee114/websites/main/research_assignment/static/cartoon.jpg" title="straight facts" align="right" width="50%"/>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form method="POST" action='get_product'>
      <label>Product ID#:</label>
      <input type="text" name="product_id">
      <input type="submit" value="Get Product">
      
    </form>

    {% if output %}     
    <br><br><br><br><br><br><br><br>
    <h2>Product Details</h2>
    <table>
        <tr> 
            <td colspan="1" rowspan="1" align='center'><b>Product ID<b></td>
            <td colspan="1" rowspan="1" align='center'><b>Product Name<b></td>
            <td colspan="1" rowspan="1" align='center'><b>Product Description<b></td>
            <td colspan="1" rowspan="1" align='center'><b>Product Price<b></td>
            <td colspan="1" rowspan="1" align='center'><b>Product Inventory Count<b></td>
            <td colspan="1" rowspan="1" align='center'><b>Product Vendor<b></td>
        </tr>
        <ul>
        {% for i in output %}
        <tr>
            <td colspan="1" rowspan="1" align='center'>{{i[0]}}</td>
            <td colspan="1" rowspan="1" align='center'>{{i[1]}}</td>
            <td colspan="1" rowspan="1" align='center'>{{i[2]}}</td>
            <td colspan="1" rowspan="1" align='center'>{{i[3]}}</td>
            <td colspan="1" rowspan="1" align='center'>{{i[4]}}</td>
            <td colspan="1" rowspan="1" align='center'>{{i[5]}}</td>
            </tr>
        {% endfor %}
        </ul>
    </table>
{% endif %}

{% if message %}     
    <br>    
    <h2>{{message}}<h2>
{% endif %}
  </body>
  <br><br><br>

<!--Lil box in the corner-->
<!--Card Content, <pre> tag follows typed formatting, i.e., indents and new lines in html printout the same-->
    <div style=width:fit-content>
        <pre><a href="https://tedyee114.github.io/websites/">Back to Homepage</a>
        <img src="https://github.com/tedyee114/static/blob/main/portfolio/tyicon-transparent.png?raw=true" style="width:2rem"></pre>
    </div><script src="https://tedyee114.github.io/websites/till.js"></script>
    
    <br><br><br><br><br><br><br><br>

    <div w3-include-html="research_footer.html"></div><script> includeHTML();</script>
</html>