<!DOCTYPE html>
<html>
    <head>
        <title>Research Assignment Homepage</title>
        <link rel="stylesheet" type="text/css" href="research.css">
        <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/tedyee114/websites/main/tyicon-transparent.png">
    </head>

    <div class="topbar">                                                                    <!--Top Navigation Bar-->
        <a href="homepage"><img src="https://raw.githubusercontent.com/tedyee114/websites/main/tyicon-transparent.png" title="Logo" align="center" width="60" height="60"/></a>
        <a href="add_customer" align="center">Customers </a>
        <a href="get_product" align="center">Products</a>
    </div>

    <div class="a">                                                      <!--This div uses style a to adds outer padding to everything-->
        <body style="background-color:#ebebeb" style=font-family:arial>
            <br><br><br>
            <a href="https://tedyee114.github.io/websites/" align="center">Check out my main site</a>
            <br><br><br>
            <img  src="static/sitemap.png" title="sitemap static image" align="left"/>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </body>
    </div>
  
    <div class="bottom">                                                                    <!--Footer-->
        <img src="https://raw.githubusercontent.com/tedyee114/websites/main/tyicon-transparent.png" title="Logo" align="center" width="100" height="100"/>
        <a style="font-family:arial">
        ©2023 Ted Yee    &nbsp&nbsp&nbsp&nbsp
        Don't Contact Us &nbsp&nbsp&nbsp&nbsp
        Privacy is fake  &nbsp&nbsp&nbsp&nbsp
        Terms of Misuse  &nbsp&nbsp&nbsp&nbsp
        Your Personal Information Will be Sold Anyways
        </a>
    </div>
</html>