<!DOCTYPE html>
    <head>
        <title>MileSplit.Snow|NotYet</title>
        <link rel="stylesheet" type="text/css" href="project_main.css">
        <link rel="stylesheet" type="text/css" href="static/project_main.css">
        <link rel="icon" type="image/x-icon" href="{%p%}favicon.PNG">
    </head>

    <div class="topbar">                                                                    <!--Top Navigation Bar-->
        <a href="index"><img src="static/snow.png" title="Logo" align="left" width="250" height="38"/></a>
        <a href="results">RESULTS</a>
        <a href="rankings">RANKINGS</a>
        <a href="calendar">CALENDAR</a>
        <a href="athletes">ATHLETES</a>
        <a href="upload">UPLOAD</a>
        <a href="https://wa.milesplit.com/">REAL MILESPLIT</a>
        <a href="notyet"><img src="static/login.png" title="Login Icon" align="right" width="50" height="50"/></a>
        <a href="notyet"><img src="static/search.png" title="Search Icon" align="right" width="50" height="50"/></a>
    </div>
    
    <div class="a">                                                                 <!--This div uses style a to adds outer padding to everything-->
        <body style="background-color:#ebebeb">
            <h1>THIS PAGE IS NOT BUILT OUT YET</h1>
        </body>
    </div>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="bottom">                                                                    <!--Top Navigation Bar-->
        <img src="static/snow.png" src="snow.png" title="Logo" align="left" width="250" height="38"/>
        ©2023 Ted Yee    &nbsp&nbsp&nbsp&nbsp
        Don't Contact Us &nbsp&nbsp&nbsp&nbsp
        Privacy is fake  &nbsp&nbsp&nbsp&nbsp
        Terms of Misuse  &nbsp&nbsp&nbsp&nbsp
        Your Personal Information Will be Sold Anyways
    </div>
</html>